Repository Overload-Technologies/Overload, pull requests merged in 2025-03, with the labels that each got.

#408 Implemented UI RenderPass
  Sources/Overload/OvCore/include/OvCore/Rendering/SceneRenderer.h
  Sources/Overload/OvCore/src/OvCore/Rendering/SceneRenderer.cpp
  Sources/Overload/OvCore/src/OvCore/Resources/Material.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/MaterialEditor.cpp
  Sources/Overload/OvRendering/include/OvRendering/Data/Material.h
  Sources/Overload/OvRendering/include/OvRendering/Data/PipelineState.h
  Sources/Overload/OvRendering/include/OvRendering/Data/StateMask.h
  Sources/Overload/OvRendering/src/OvRendering/Core/ABaseRenderer.cpp
  Sources/Overload/OvRendering/src/OvRendering/Data/Material.cpp
Labels: Graphics

#413 Fixed crash when no audio device is found
  Sources/Overload/OvAudio/include/OvAudio/Core/AudioEngine.h
  Sources/Overload/OvAudio/src/OvAudio/Core/AudioEngine.cpp
  Sources/Overload/OvAudio/src/OvAudio/Core/AudioPlayer.cpp
Labels: Bug, Critical, Crash

#417 Updated FrameInfo to use last focused view
  Sources/Overload/OvEditor/include/OvEditor/Core/Editor.h
  Sources/Overload/OvEditor/src/OvEditor/Core/Editor.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/FrameInfo.cpp
  Sources/Overload/OvGame/src/OvGame/Debug/FrameInfo.cpp
  Sources/Overload/OvTools/include/OvTools/Utils/Format.h
  Sources/Overload/OvTools/src/OvTools/Utils/Format.cpp
Labels: QoL, Feature, Editor

#416 Added contextual menu to hierarchy panel background
  Sources/Overload/OvEditor/src/OvEditor/Panels/AssetBrowser.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/Hierarchy.cpp
  Sources/Overload/OvUI/include/OvUI/Panels/APanel.h
  Sources/Overload/OvUI/include/OvUI/Plugins/ContextualMenu.h
  Sources/Overload/OvUI/include/OvUI/Plugins/DDSource.h
  Sources/Overload/OvUI/include/OvUI/Plugins/DDTarget.h
  Sources/Overload/OvUI/include/OvUI/Plugins/DataDispatcher.h
  Sources/Overload/OvUI/include/OvUI/Plugins/IPlugin.h
  Sources/Overload/OvUI/include/OvUI/Plugins/Pluginable.h
  Sources/Overload/OvUI/src/OvUI/Panels/APanel.cpp
  Sources/Overload/OvUI/src/OvUI/Panels/PanelWindow.cpp
  Sources/Overload/OvUI/src/OvUI/Plugins/ContextualMenu.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/AWidget.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/Layout/TreeNode.cpp
Labels: QoL, Feature, Editor

#415 Removed editor raw resource in favor of proper PNG files
  Resources/Editor/Textures/Ambient_Box_Light.png
  Resources/Editor/Textures/Ambient_Sphere_Light.png
  Resources/Editor/Textures/Directional_Light.png
  Resources/Editor/Textures/Empty_Texture.png
  Resources/Editor/Textures/File.png
  Resources/Editor/Textures/Folder.png
  Resources/Editor/Textures/Font.png
  Resources/Editor/Textures/Material.png
  Resources/Editor/Textures/Model.png
  Resources/Editor/Textures/Next.png
  Resources/Editor/Textures/Pause.png
  Resources/Editor/Textures/Play.png
  Resources/Editor/Textures/Point_Light.png
  Resources/Editor/Textures/Refresh.png
  Resources/Editor/Textures/Scene.png
  Resources/Editor/Textures/Script.png
  Resources/Editor/Textures/Shader.png
  Resources/Editor/Textures/Shader_Part.png
  Resources/Editor/Textures/Sound.png
  Resources/Editor/Textures/Spot_Light.png
  Resources/Editor/Textures/Stop.png
  Resources/Editor/Textures/Texture.png
  Sources/Overload/OvEditor/include/OvEditor/Resources/RawTextures.h
  Sources/Overload/OvEditor/src/OvEditor/Core/EditorResources.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/AssetBrowser.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/Toolbar.cpp
  Sources/Overload/OvEditor/src/OvEditor/Rendering/DebugSceneRenderer.cpp
Labels: Editor, Refactoring

#420 Removed fake root actor
  Sources/Overload/OvEditor/include/OvEditor/Panels/Hierarchy.h
  Sources/Overload/OvEditor/src/OvEditor/Panels/Hierarchy.cpp
  Sources/Overload/OvUI/include/OvUI/Plugins/DDTarget.h
  Sources/Overload/OvUI/src/OvUI/Internal/WidgetContainer.cpp
Labels: QoL, Feature, Editor

#422 Added default double-click actions for all asset types in asset browser
  Sources/Overload/OvEditor/src/OvEditor/Panels/AssetBrowser.cpp
Labels: QoL, Feature, Editor
