Repository Overload-Technologies/Overload, pull requests merged in 2025-04, with the labels that each got.

#401 Implemented a texture debugger editor panel
  Sources/Overload/OvCore/src/OvCore/Rendering/FramebufferUtil.cpp
  Sources/Overload/OvCore/src/OvCore/Rendering/PostProcess/AutoExposureEffect.cpp
  Sources/Overload/OvCore/src/OvCore/Rendering/PostProcess/BloomEffect.cpp
  Sources/Overload/OvCore/src/OvCore/Rendering/PostProcessRenderPass.cpp
  Sources/Overload/OvEditor/include/OvEditor/Core/Context.h
  Sources/Overload/OvEditor/include/OvEditor/Panels/TextureDebugger.h
  Sources/Overload/OvEditor/include/OvEditor/Utils/TextureRegistry.h
  Sources/Overload/OvEditor/layout.ini
  Sources/Overload/OvEditor/src/OvEditor/Core/Context.cpp
  Sources/Overload/OvEditor/src/OvEditor/Core/Editor.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/AView.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/TextureDebugger.cpp
  Sources/Overload/OvEditor/src/OvEditor/Rendering/PickingRenderPass.cpp
  Sources/Overload/OvEditor/src/OvEditor/Utils/TextureRegistry.cpp
  Sources/Overload/OvGame/src/OvGame/Core/Context.cpp
  Sources/Overload/OvRendering/include/OvRendering/HAL/Common/TFramebuffer.h
  Sources/Overload/OvRendering/include/OvRendering/HAL/Common/TTexture.h
  Sources/Overload/OvRendering/include/OvRendering/HAL/None/NoneFramebuffer.h
  Sources/Overload/OvRendering/include/OvRendering/HAL/None/NoneTexture.h
  Sources/Overload/OvRendering/include/OvRendering/HAL/OpenGL/GLFramebuffer.h
  Sources/Overload/OvRendering/include/OvRendering/HAL/OpenGL/GLTexture.h
  Sources/Overload/OvRendering/src/OvRendering/Entities/Light.cpp
  Sources/Overload/OvRendering/src/OvRendering/HAL/None/NoneFramebuffer.cpp
  Sources/Overload/OvRendering/src/OvRendering/HAL/None/NoneTexture.cpp
  Sources/Overload/OvRendering/src/OvRendering/HAL/OpenGL/GLFramebuffer.cpp
  Sources/Overload/OvRendering/src/OvRendering/HAL/OpenGL/GLTexture.cpp
  Sources/Overload/OvRendering/src/OvRendering/Resources/Loaders/TextureLoader.cpp
Labels: QoL, Editor, Graphics

#428 Added layout.ini to OvEditor project
  Sources/Overload/OvEditor/premake5.lua
Labels: QoL, Editor, Project Configuration

#430 Editor Theme Selection & Theme System Rework
  Sources/Overload/OvEditor/include/OvEditor/Settings/EditorSettings.h
  Sources/Overload/OvEditor/src/OvEditor/Core/Context.cpp
  Sources/Overload/OvEditor/src/OvEditor/Core/Editor.cpp
  Sources/Overload/OvEditor/src/OvEditor/Core/ProjectHub.cpp
  Sources/Overload/OvEditor/src/OvEditor/Main.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/MenuBar.cpp
  Sources/Overload/OvEditor/src/OvEditor/Settings/EditorSettings.cpp
  Sources/Overload/OvGame/src/OvGame/Core/Context.cpp
  Sources/Overload/OvUI/include/OvUI/Styling/EStyle.h
  Sources/Overload/OvUI/include/OvUI/Styling/TStyle.h
  Sources/Overload/OvUI/src/OvUI/Core/UIManager.cpp
  Sources/Overload/OvUI/src/OvUI/Styling/DefaultDark.cpp
  Sources/Overload/OvUI/src/OvUI/Styling/DuneDark.cpp
  Sources/Overload/OvUI/src/OvUI/Styling/EvenDarker.cpp
  Sources/Overload/OvUI/src/OvUI/Styling/ImClassic.cpp
  Sources/Overload/OvUI/src/OvUI/Styling/ImDark.cpp
  Sources/Overload/OvUI/src/OvUI/Styling/ImLight.cpp
Labels: QoL, Feature, Editor

#453 Updated msbuild.yml to run on main push, and ignore non-ready PRs
  .github/workflows/msbuild.yml
Labels: Project Configuration, Cleanup

#446 Updated ImGui to v1.91.9
  Dependencies/ImGui/include/imconfig.h
  Dependencies/ImGui/include/imgui.h
  Dependencies/ImGui/include/imgui_impl_glfw.h
  Dependencies/ImGui/include/imgui_impl_opengl3.h
  Dependencies/ImGui/include/imgui_impl_opengl3_loader.h
  Dependencies/ImGui/include/imgui_internal.h
  Dependencies/ImGui/include/imstb_rectpack.h
  Dependencies/ImGui/include/imstb_textedit.h
  Dependencies/ImGui/include/imstb_truetype.h
  Dependencies/ImGui/src/imgui.cpp
  Dependencies/ImGui/src/imgui_demo.cpp
  Dependencies/ImGui/src/imgui_draw.cpp
  Dependencies/ImGui/src/imgui_impl_glfw.cpp
  Dependencies/ImGui/src/imgui_impl_opengl3.cpp
  Dependencies/ImGui/src/imgui_tables.cpp
  Dependencies/ImGui/src/imgui_widgets.cpp
  Sources/Overload/OvCore/src/OvCore/Scripting/Lua/Bindings/LuaGlobalBindings.cpp
  Sources/Overload/OvEditor/include/OvEditor/Core/CameraController.h
  Sources/Overload/OvEditor/layout.ini
  Sources/Overload/OvEditor/src/OvEditor/Core/CameraController.cpp
  Sources/Overload/OvEditor/src/OvEditor/Core/Editor.cpp
  Sources/Overload/OvEditor/src/OvEditor/Core/EditorActions.cpp
  Sources/Overload/OvUI/src/OvUI/Modules/Canvas.cpp
  Sources/Overload/OvUI/src/OvUI/Styling/DuneDark.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/Buttons/Button.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/Buttons/ButtonImage.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/Layout/GroupCollapsable.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/Layout/TreeNode.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/Plots/PlotHistogram.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/Plots/PlotLines.cpp
  Sources/Overload/OvUI/src/OvUI/Widgets/Visual/Image.cpp
  Sources/Overload/OvWindowing/include/OvWindowing/Inputs/InputManager.h
  Sources/Overload/OvWindowing/include/OvWindowing/Window.h
  Sources/Overload/OvWindowing/src/OvWindowing/Inputs/InputManager.cpp
  Sources/Overload/OvWindowing/src/OvWindowing/Window.cpp
Labels: Feature, Refactoring

#466 Added shader variant (multi-compile) system
  Sources/Overload/OvEditor/src/OvEditor/Panels/AssetBrowser.cpp
  Sources/Overload/OvRendering/include/OvRendering/Resources/Loaders/ShaderLoader.h
  Sources/Overload/OvRendering/include/OvRendering/Resources/Shader.h
  Sources/Overload/OvRendering/src/OvRendering/Resources/Loaders/ShaderLoader.cpp
  Sources/Overload/OvRendering/src/OvRendering/Resources/Shader.cpp
Labels: Graphics

#434 Reworking material properties
  Sources/Overload/OvCore/src/OvCore/Rendering/PostProcess/AutoExposureEffect.cpp
  Sources/Overload/OvCore/src/OvCore/Rendering/PostProcess/BloomEffect.cpp
  Sources/Overload/OvCore/src/OvCore/Rendering/PostProcess/TonemappingEffect.cpp
  Sources/Overload/OvCore/src/OvCore/Rendering/ShadowRenderFeature.cpp
  Sources/Overload/OvCore/src/OvCore/Rendering/ShadowRenderPass.cpp
  Sources/Overload/OvCore/src/OvCore/Resources/Loaders/MaterialLoader.cpp
  Sources/Overload/OvCore/src/OvCore/Resources/Material.cpp
  Sources/Overload/OvEditor/src/OvEditor/Core/EditorActions.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/AssetView.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/MaterialEditor.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/SceneView.cpp
  Sources/Overload/OvEditor/src/OvEditor/Rendering/DebugSceneRenderer.cpp
  Sources/Overload/OvEditor/src/OvEditor/Rendering/GizmoRenderFeature.cpp
  Sources/Overload/OvEditor/src/OvEditor/Rendering/GridRenderPass.cpp
  Sources/Overload/OvEditor/src/OvEditor/Rendering/OutlineRenderFeature.cpp
  Sources/Overload/OvEditor/src/OvEditor/Rendering/PickingRenderPass.cpp
  Sources/Overload/OvGame/src/OvGame/Core/Context.cpp
  Sources/Overload/OvRendering/include/OvRendering/Data/Material.h
  Sources/Overload/OvRendering/include/OvRendering/Data/Material.inl
  Sources/Overload/OvRendering/src/OvRendering/Core/ABaseRenderer.cpp
  Sources/Overload/OvRendering/src/OvRendering/Data/Material.cpp
  Sources/Overload/OvRendering/src/OvRendering/Features/DebugShapeRenderFeature.cpp
  Sources/Overload/OvRendering/src/OvRendering/HAL/OpenGL/GLShaderProgram.cpp
Labels: Refactoring, Graphics, Cleanup

#472 Remove OpenGL context version selection setting (#469)
  Sources/Overload/OvEditor/src/OvEditor/Core/Context.cpp
  Sources/Overload/OvEditor/src/OvEditor/Panels/ProjectSettings.cpp
  Sources/Overload/OvGame/src/OvGame/Core/Context.cpp
Labels: Editor, Graphics
